/* Base theme variables */
:root {
  /* Font Families */
  --font-heading: 'Roboto Condensed', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  /* Other */
  --line-height: 1.6;
  --border-radius: 5px;
  --heading-transform: uppercase;
}
