/* Base theme variables */
:root {
  /* Font Families */
  --font-heading: 'Roboto Condensed', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  /* Other */
  --line-height: 1.6;
  --border-radius: 5px;
  --heading-transform: uppercase;
}

/* Dark Theme variables */
.v-theme--dark {
  --color-background: #121212; /* Dark background */
  --color-text: #e0e0e0; /* Light text */
  --color-heading: #7fbfff; /* Light blue for dark mode */
  --color-subheading: #99c2ff; /* Even lighter blue */
  --color-link: #0777a7; /* Lighter red for contrast */
  --color-link-hover: lighter(var(--color-text), 10%); /* Slightly lighter than --color-text */
  --color-button: #1f3d7a; /* Dark blue for button */
  --color-button-hover: #3366cc;
}


.v-theme--light {
  --color-background: #cee6ff; /* Light background */
  --color-text: #2b2b2b; /* Dark text for readability */
  --color-heading: #003366; /* Dark blue */
  --color-subheading: #00509d; /* Lighter blue */
  --color-link: #0777a7; /* Dark blue for links */
  --color-link-hover: darken(var(--color-text), 90%); /* Slightly lighter than --color-text */
  --color-button: #003366; /* Button background */
  --color-button-hover: #00509d; /* Button hover background */
}
